* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Amatic SC', cursive;
  font-weight: 800;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  position: fixed;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 1rem 1rem;
}

li {
  display: inline;
  margin: 0 0.75rem
}

a:visited:hover {
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("assets/images/vintageOcean.jpg"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("assets/images/vintageOcean.jpg");
  font-size: 32px;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* background: linear-grasdient(to top, #80e3ff, rgb(216, 216, 216)); */
  background-size: auto,								auto,														100% auto;
			background-position: center,								center,														top center;
			background-repeat: repeat,								no-repeat,													no-repeat;
			background-attachment: scroll,								scroll,														scroll;
  color: black;
}

i:hover {
  color: white;
}

.header-container {
  max-width: 32rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  letter-spacing: 4px;
}

@media screen and (min-width: 462px) {
  .header-container {
    padding: 0;
  }
}

h1 {
  margin-bottom: 1rem;
}

header h1:hover,
header h2:hover {
  color: white;
}
